<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
		label {
			font-size: 1.3em;
			display: flex;
    		align-items: center;
			justify-content: center;
			white-space: nowrap;
			text-align: center;
		}
	</style>
</head>
<body>
    <div class="container-fluid">
		<div class="row justify-content-center text-center">
			<div class="col-md-6">
				<h1 class="text-center mt-5 mb-4">Edit Student</h1>
				<form action="/students/edit" method="post" class="border rounded p-3">
                    <input type="hidden" id="id" name="id" th:value="${student.id}">
					<div class="mb-3 form-group row text-center">
						<label for="name" class="col-lg-2">Name: </label>
						<div class="col-lg-10">
							<input type="text" id="name" name="name" required class="form-control form-control-lg" th:value="${student.name}">
						</div>
					</div>
					<div class="mb-3 form-group row text-center">
						<label for="hairColor" class="col-lg-2">Hair Color: </label>
						<div class="col-lg-10">
							<input type="text" id="hairColor" name="hairColor" required class="form-control form-control-lg" th:value="${student.hairColor}">
						</div>
					</div>
					<div class="mb-3 form-group row text-center">
						<label for="eyeColor" class="col-lg-2">Eye Color: </label>
						<div class="col-lg-10">
							<input type="text" id="eyeColor" name="eyeColor" required class="form-control form-control-lg" th:value="${student.eyeColor}">
						</div>
					</div>
                    <div class="mb-3 form-group row text-center">
						<label for="age" class="col-lg-2">Age: </label>
						<div class="col-lg-10">
							<input type="number" id="age" name="age" required class="form-control form-control-lg" th:value="${student.age}">
						</div>
					</div>
					<div class="mb-3 form-group row text-center">
						<label for="weight" class="col-lg-2">Weight (kg): </label>
						<div class="col-lg-10">
							<input type="number" id="weight" name="weight" required class="form-control form-control-lg" th:value="${student.weight}">
						</div>
					</div>
					<div class="mb-3 form-group row text-center">
						<label for="height" class="col-lg-2">Height (cm): </label>
						<div class="col-lg-10">
							<input type="number" id="height" name="height" required class="form-control form-control-lg" th:value="${student.height}">
						</div>
					</div>
					<div class="mb-3 form-group row text-center">
						<label for="gpa" class="col-lg-2">GPA: </label>
						<div class="col-lg-10">
							<input type="number" id="gpa" name="gpa" step="0.1" required class="form-control form-control-lg" th:value="${student.gpa}">
						</div>
					</div>
					<!-- Submit button -->                    
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="Submit"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>